@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* react-calendar */
.react-calendar {
  @apply w-full max-w-7xl mx-auto bg-white rounded-lg shadow-lg p-4;
}

.react-calendar__month-view__days__day {
  @apply relative;
}

.react-calendar__tile {
  @apply h-32 w-32 flex items-center justify-center p-2 relative;
}

.react-calendar__tile--active {
  @apply bg-blue-500 text-white;
}

.react-calendar__month-view__days__day--weekend {
  @apply text-red-500;
}

.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-gray-400;
}

.react-calendar__tile abbr {
  display: none !important; /* abbr 태그 숨기기 */
}

.book-covers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.book-cover {
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.calendar-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.calendar-tile .date {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.75rem;
  color: #333;
}

.calendar-tile.cover {
  background: none;
}

.book-count {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
}

.calendar-tile.cover:hover .book-covers-container {
  flex-direction: row;
}

.calendar-tile.cover:hover .book-cover {
  transform: translateX(0);
  opacity: 1;
}

.calendar-tile.cover .book-cover {
  transform: translateX(-50%);
  opacity: 0;
}

.calendar-tile.cover .book-cover:first-child {
  transform: translateX(0);
  opacity: 1;
}
